<%= form_with(model: medication_transaction) do |form| %>
  <% if medication_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(medication_transaction.errors.count, "error") %> prohibited this medication_transaction from being saved:</h2>

      <ul>
        <% medication_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :medication_id, value: @medication_transaction.medication_id %>

  <p> <b>Name:</b> <%= @medication.name %> </p>

  <p> <b>ID:</b> <%= @medication_transaction.medication_id %> </p>

  <div class="label-and-field-div">
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div class="form-actions">
    <%= form.submit nil, class: 'button btn-submit' %>
    <%= link_to "Nevermind", medications_path, class: 'button btn-cancel' %>
  </div>
<% end %>
