<%= form_with(model: faq) do |form| %>
  <% if faq.errors.any? %>
    <div>
      <% faq.errors.each do |error| %>
        <div class="flash error"><%= error.full_message %></div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :question, style: "display: block" %>
    <%= form.text_area :question, style: "width: 100%" %>
  </div>

  <div>
    <%= form.label :answer, style: "display: block" %>
    <%= form.text_area :answer, style: "width: 100%" %>
  </div>

  <div class="form-actions">
    <%= form.submit nil, class: 'button btn-submit' %>
    <%= link_to "Nevermind", faqs_path, class: 'button btn-cancel' %>
  </div>
<% end %>
