<%= stylesheet_link_tag 'indexes', media: 'all', 'data-turbo-track': 'reload' %>

<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class="title shadow-lg">Edit FAQs</h1>

  <table>
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @faqs.each do |faq| %>
        <tr>
          <td>
            <%= faq.question %>
          </td>
          <td>
            <%= faq.answer %>
          </td>
          <td class="actions-container">
            <div class="actions">
              <%= link_to "Show", faq %>
              <%= link_to "Edit", edit_faq_path(faq) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>