<h2>Sign up for this event?</h2>

<%= form_for [@event, @member_shift] do |f| %>
  <p>
    <strong>Event:</strong>
    <%= @event.title %>
  </p>

  <p>
    <strong>Start Date:</strong>
    <%= @event.start_time %>
  </p>

  <div>
    <%= f.label :volunteer_category, "Class Year:" %>
    <%= f.select :volunteer_category, [['M1-M2', 'M1-M2'], ['M3-M4', 'M3-M4']] %>
  </div>

  <br> <!-- Line break for spacing -->

    <%= f.hidden_field :member_id, value: current_member.id %>
    <%= f.submit "Sign Up" %>
  <% end %>