<%= form_with(model: medication) do |form| %>
  <% if medication.errors.any? %>
    <div>
      <% medication.errors.each do |error| %>
        <div class="flash error"><%= error.full_message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="label-and-field-div">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, style: "width: 100%" %>
  </div>

  <div class="label-and-field-div">
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock, style: "width: 100%" %>
  </div>

  <div class="label-and-field-div">
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes, style: "width:100%" %>
  </div>

  <div class="form-actions">
    <%= form.submit nil, class: 'button btn-submit' %>
    <%= link_to "Nevermind", medications_path, class: 'button btn-cancel' %>
  </div>
<% end %>

