
<% if @medications.any? %>
  <br/>
  <table class="listing" summary="medication list" style="width: 100%;">
    <tr class="header">
      <th>Medication</th>
      <th>Stock</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
    <% @medications.each do |medication| %>
      <tr style="outline: thin solid"> 
      <td style="text-align: center;"><%= medication.name %></td>
      <% if medication.stock <= 5 %>
        <td style="text-align: center; background-color: lightcoral;"><%= medication.stock %></td>
      <% elsif medication.stock <= 10%>
        <td style="text-align: center; background-color: hsl(60,100%, 80%);"><%= medication.stock %> </td> 
      <% else %>
        <td style="text-align: center; background-color: lightgreen;"><%= medication.stock %> </td> 
      <%end%>  
      <td style="text-align: center;"><%= medication.notes %></td>
      
      <td class="actions" style="text-align: center;">
        <%= link_to("Show/Edit", medication_path(medication), class: 'action show') %>
        <br/>
        <%= link_to("Make Transaction", new_medication_transaction_path(id: medication.id), class: 'action edit') %>
      </td>
    </tr>
    <% end %>
  </table>
<%else%>
  <p> No Medications Found </p>
<%end%>


