<%= stylesheet_link_tag 'indexes', media: 'all', 'data-turbo-track': 'reload' %>

<div class="container">
  <h1 class="title shadow-lg">Medications</h1>
  
  <%= link_to("View Low Stock Medication", lowstock_medications_path, class: 'add-new-button') %>
  <%= link_to("Add New Medication", new_medication_path, class: 'add-new-button') %>
  <%= link_to("Transaction History", medication_transactions_path, class: 'add-new-button') %>

  <%= render 'searchbar' %>
  
  <%= render 'table' %>
</div>
