<div id="<%= dom_id calendar_event %>">
  <p>
    <strong>Title:</strong>
    <%= calendar_event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= calendar_event.description %>
  </p>

  <p>
    <strong>Start datetime:</strong>
    <%= calendar_event.start_datetime %>
  </p>

  <p>
    <strong>End datetime:</strong>
    <%= calendar_event.end_datetime %>
  </p>

</div>
