<nav class="navbar">
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Donate", donation_path %></li>

        <% if current_member && current_member.admin? %>
          <li><%= link_to "Members", members_path %></li>
          <li><%= link_to "Medications", medications_path %></li>
        <%end%>

        <%if current_member%>
          <li><%= button_to "Logout", destroy_member_session_path, method: :delete, data: { turbo: "false" } %></li>
        <%else%>
          <li><%= link_to "Volunteer Login", new_member_session_path %></li>
        <%end%>
    </ul>
</nav>
