<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Ideal volunteers:</strong>
    <%= event.ideal_volunteers %>
  </p>

  <p>
    <strong>Ideal officers:</strong>
    <%= event.ideal_officers %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>

</div>
