<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Total ideal volunteers:</strong>
    <%= event.ideal_volunteers %>
  </p>

  <!-- Include M1-M2 and M3-M4 volunteers -->
  <p>
    <strong>M1-M2 Volunteers:</strong>
    <%= event.m1_m2_volunteers %>
  </p>

  <p>
    <strong>M3-M4 Volunteers:</strong>
    <%= event.m3_m4_volunteers %>
  </p>
  <!-- End of M1-M2 and M3-M4 volunteers -->

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>

  <% member_shifts = MemberShift.where(event_id: event.id) %>
  <% member_names = member_shifts.map { |ms| ms.member.full_name } %>
  <%= member_names.join(', ') %>

</div>
