<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="label-and-field-div">
    <%= form.label :title, "Shift Title", style: "display: block" %>
    <%= form.text_field :title, style: "width: 100%" %>
  </div>

  <h2>Allocate Volunteers by Class</h2>
  <div class="label-and-field-div">
    <%= form.label :ideal_underclassmen, "M1/M2 Volunteers", style: "display: block" %>
    <%= form.number_field :ideal_underclassmen, style: "width: 100%" %>
  </div>

  <div class="label-and-field-div">
    <%= form.label :ideal_upperclassmen, "M3/M4 Volunteers", style: "display: block" %>
    <%= form.number_field :ideal_upperclassmen, style: "width: 100%" %>
  </div>

  <h2>Or, Allocate Volunteers For Everyone</h2>
  <div class="label-and-field-div">
    <%= form.label :ideal_volunteers, "Free-for-all Sign-Ups", style: "display: block" %>
    <%= form.number_field :ideal_volunteers, style: "width: 100%" %>
  </div>

  <div class="label-and-field-div" style="display:flex; justify-content:flex-start;">
    <div style="margin-right: 10px;">
      <%= form.label :start_time, "Start Time", style: "display: block" %>
      <%= form.datetime_field :start_time %>
    </div>

    <div>
      <%= form.label :end_time, "End Time", style: "display: block" %>
      <%= form.datetime_field :end_time %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit nil, class: 'button btn-submit' %>
    <%= link_to "Nevermind", events_path, class: 'button btn-cancel' %>
  </div>
<% end %>

