<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
  <% if @events.count == 0 %>
    <p>Currently no events</p>
  <%else%>
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
      <% if current_member.admin? %>
        <%= link_to "Event Email", mass_email_form_members_path(event_id: event.id) %>
      <% end %>
    </p>
  <% end %>
<%end%>
</div>

<%= link_to "New event", new_event_path %>
