<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this member shift", edit_event_path(@event) %> |
  <%= link_to "Back to member shifts", events_path %>

  <%= button_to "Destroy this member shift", @event, method: :delete %>
</div>
