<%= stylesheet_link_tag 'indexes', media: 'all', 'data-turbo-track': 'reload' %>

<h1>Sign Up for Shifts</h1>

<% if @events.count == 0 %>
  <p>Currently no events</p>
<%end%>

<% @events.each do |event| %>
  <div class="event-block" style="margin-bottom: 50px;">
    <p><strong><%= event.title %></strong></p>
    <p>Starts at <%= event.start_time %></p>
    <% if event.class_select? && (current_member.class_year != "Other") %>
      <% case current_member.class_year %>
        <% when 'M1', 'M2' %>
          <p><%= event.ideal_underclassmen %> M1+M2 volunteer slots open</p>
        <% when 'M3', 'M4' %>
          <p><%= event.ideal_upperclassmen %> M3+M4 volunteer slots open</p>
      <% end %>
    <% else %>
      <p><%= event.ideal_volunteers %> slots open</p>
    <% end %>
    <% if event.registered?(current_member) %>
      <p>You are signed up for this event.</p>
      <%= link_to 'Unregister', member_shift_path(event.member_shifts.find_by(member_id: current_member.id)), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% elsif event.can_sign_up? || event.can_sign_up_class?(current_member) %>
      <%= link_to 'Sign Up', new_event_member_shift_path(event) %>
    <% elsif event.class_select? %>
      <p>You are not eligible to sign up for this event.</p>
    <% else %>
      <p>Event is full.</p>
    <% end %>
  </div>



<div style="margin-top: 20px;"></div>

<%= form_for current_member, url: update_class_year_path, method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :class_year, "Class Year" %>
    <%= f.select :class_year, options_for_select(['M1', 'M2', 'M3', 'M4', 'Other'], current_member.class_year), {}, { class: 'form-control' } %>
  </div>
  <%= f.submit "Update Class Year", class: 'add-new-button' %>
<% end %>
<% end %>
