<%= stylesheet_link_tag 'indexes', media: 'all', 'data-turbo-track': 'reload' %>

<h1>Sign Up for Shifts</h1>

<% if @events.count == 0 %>
  <p>Currently no events</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Open Volunteering Slots</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.ideal_underclassmen %> M1+M2; <%= event.ideal_upperclassmen %> M3+M4; <%= event.ideal_volunteers %> any class</td>
          <td><%= event.start_time.strftime('%a, %b %e, %Y %l:%M %p') %></td>
          <td><%= event.end_time.strftime('%a, %b %e, %Y %l:%M %p') %></td>
          <td>
            <% if event.registered?(current_member) %>
              <%= link_to 'Unregister', member_shift_path(event.member_shifts.find_by(member_id: current_member.id)), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% elsif event.can_sign_up? || event.can_sign_up_class?(current_member) %>
              <%= link_to 'Sign Up', new_event_member_shift_path(event) %>
            <% elsif event.class_select? %>
              You are unable to sign up for this event.
            <% else %>
              Event is full.
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div style="margin-top: 20px;"></div>

<%= form_for current_member, url: update_class_year_path, method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :class_year, "Class Year" %>
    <%= f.select :class_year, options_for_select(['M1', 'M2', 'M3', 'M4', 'Other'], current_member.class_year), {}, { class: 'form-control' } %>
  </div>
  <%= f.submit "Update Class Year", class: 'add-new-button' %>
<% end %>
