<%= form_with(model: resource) do |form| %>
  <% if resource.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="label-and-field-div">
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url, style: "width: 100%" %>
  </div>

  <div class="label-and-field-div">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, style: "width: 100%" %>
  </div>

  <div class="label-and-field-div">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, style: "width: 100%" %>
  </div>

  <div class="label-and-field-div">
    <%= form.submit nil, class: 'button btn-submit' %>
    <%= link_to "Nevermind", resources_path, class: 'button btn-cancel' %>
  </div>
<% end %>
