<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="label-and-field-div">
    <%= form.label :role, style: "display: block" %>
    <%= form.select :role, options_for_select(["", "admin", "volunteer"], @member.role) %>
  </div>

  <div class="label-and-field-div">
    <%= form.label :class_year, style: "display: block" %>
    <%= form.select :class_year, options_for_select(["M1", "M2", "M3", "M4", "Other"], @member.class_year) %>
  </div>

  <div class="label-and-field-div">
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div class="form-actions">
    <%= form.submit nil, class: 'button btn-submit' %>
    <%= link_to "Nevermind", faqs_path, class: 'button btn-cancel' %>
  </div>
<% end %>
