<p style="color: green"><%= notice %></p>

<% if current_member %>
  <h2><%= current_member.email %></h2>
  <% if current_member.avatar_url.present? %>
    <%= image_tag(current_member.avatar_url) %>
  <% end %>
  <%= link_to "Edit Account", edit_member_url(current_member) %>
  <%= button_to "Logout", destroy_member_session_path, data: { turbo: "false" }, method: :delete %>
<% else %>
  <%= link_to "Login", new_member_session_path %>
<% end %>

<% if current_member.admin? %>
  <%= link_to "Mass Email", mass_email_form_members_path %>
<% end %>

<h1>Members</h1>

<div id="members">
  <% @members.each do |member| %>
    <%= render member %>
    <p>
      <%= link_to "Show this member", member %>
    </p>
  <% end %>
</div>
